[submodule "audio_features_extract"]
	path = audio_features_extract
	url = https://github.com/jurevreca12/audio_features_extract.git
[submodule "interfaces"]
	path = interfaces
	url = https://github.com/jurevreca12/chisel-interfaces
[submodule "memories"]
	path = memories
	url = https://github.com/jurevreca12/chisel-memories
