[submodule "interfaces"]
	path = interfaces
	url = https://github.com/jurevreca12/chisel-interfaces
[submodule "memories"]
	path = memories
	url = https://github.com/jurevreca12/chisel-memories
[submodule "sdf-fft"]
	path = sdf-fft
	url = https://github.com/jurevreca12/sdf-fft.git
[submodule "mel-engine"]
	path = mel-engine
	url = https://github.com/jurevreca12/audio_features_extract.git
[submodule "cde"]
	path = cde
	url = https://github.com/chipsalliance/cde
[submodule "mel-engine/"]
	url = https://github.com/jurevreca12/mel-engine.git
[submodule "rocket-dsp-utils"]
	path = rocket-dsp-utils
	url = https://github.com/jurevreca12/rocket-dsp-utils.git
