include chisel4ml/bin/chisel4ml.jar
include README.md
include LICENSE
include chisel4ml/lbir/lbir_pb2.pyi
include chisel4ml/lbir/services_pb2.pyi
global-exclude *.scala
global-exclude *.gitignore
global-exclude *.proto
